---
import { getCollection } from "astro:content"
import PageLayout from "@/layouts/PageLayout.astro"
import Blog from "@/components/Blog"
import { BLOG } from "@/consts"
import AllPosts from "@/components/AllPosts.astro"

const posts = (await getCollection("blog"))
  .filter(post => !post.data.draft)
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())

const tags = [...new Set(posts.flatMap(post => post.data.tags))]
  .sort((a, b) => a.localeCompare(b))
---

<PageLayout title={BLOG.TITLE} description={BLOG.DESCRIPTION}>
  <div class="pt-24 pb-5">
    <div class="animate page-heading px-5">
      {BLOG.TITLE}
    </div>
  </div>
  <div class="flex-1">
    <div class="animate bg-opacity-90 bg-white dark:bg-black dark:bg-opacity-90">
      <Blog client:load tags={tags} data={posts}><AllPosts /></Blog>
    </div>
  </div>
</PageLayout>